@import "fonts-include";

$widthSite: 1140px;
$widthBurgerMenu: 232px;
$gap: 30px;

/*font size*/
html {
  font-size: 16px;
}

$titleFontSize: 1.5rem; //24
$smallTitleFontSize: 1.25rem; //20
$dscFontSize: 0.875rem; //14
$priceFontSize: 1rem; //16
$bigTitleFontSize: 1.875rem; //30
$linkFontSize: 0.8125rem; // 13


$pinkColor: #F16D7F;
$backColor: #222;
$whiteColor: #FFF;
$grayColor: #5D5D5D;
$blackColor: #000;
$backColorFi: #F8F8F8;

/*font var*/
$latobold: "latobold";
$latomedium: "latomedium";
$lato: "lato";

%flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation($animElem) {
  transition: $animElem 0.3s ease;
}

@mixin font($color, $font-size, $family) {
  font-family: $family;
  color: $color;
  font-size: $font-size;
  font-style: normal;
  line-height: normal;
}

/*обнуление стилей*/
* {
  margin: 0;
  padding: 0;
  font-family: 'lato';
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

/*center*/
.center {
  padding-left: calc(50% - #{$widthSite} / 2);
  padding-right: calc(50% - #{$widthSite} / 2);
}


/*header*/
.bg-black {
  background: $backColor;
}

.header {
  @extend %flex-space-between;
  min-height: 8vh;

  &__left {
    display: flex;
    align-items: end;
    gap: 41px;
  }

  &__right {
    display: flex;
    align-items: end;
    gap: 33px;
  }

  &__svg {
    fill: #E8E8E8;
    @include animation(fill);
  }
}

.header__svg:hover {
  fill: #E05C6E;
}

.header-nav {
  background-color: #F8F3F4;
  height: 148px;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include font($pinkColor, $titleFontSize, $latomedium);
  }

  &__nav {
    @include font($grayColor, $dscFontSize, $lato);
  }

  &__link {
    @include animation(color);
    @include font($grayColor, $dscFontSize, $lato);
  }
}

.header-nav__link:first-child {
  color: $pinkColor;
  font-weight: $latobold;
}

.header-nav__link:hover {
  color: $pinkColor;
}

/*burger menu*/

.box-content {
  overflow: hidden;
}

.header {
  position: relative;
}

#burger {
  position: absolute;
  left: 999999px;
  visibility: hidden;

  &:checked ~ .burger-nav {
    right: -$widthBurgerMenu;
  }
}

.burger-nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 8vh;
  right: 0;
  transition: right 0.3s;
  z-index: 5;

  &__head {
    margin-bottom: $titleFontSize;
    @include font($blackColor, $dscFontSize, $latobold);
  }

  &__main-link {
    @include font($pinkColor, $dscFontSize, $latomedium);
    @include animation(color);
  }

  &__list {
    margin-top: 12px;
  }

  &__link {
    @include font(#6F6E6E, $dscFontSize, $latomedium);
    @include animation(color);
  }
}

.burger-nav__main-link:hover {
  color: #FF6A6A;
}

.burger-nav__link:hover {
  color: #E05C6E;
}

.burger-nav__list:not(:last-child) {
  margin-bottom: 20px;
}

.burger-nav__item {
  padding-left: 10%;
}

.burger-nav__item:not(:first-child) {
  margin-top: 11px;
}

.cart-icon {
  position: relative;
}

.cart-icon:after {
  content: "2";
  top: -8px;
  left: 22px;
  position: absolute;
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font($whiteColor, 12px, $latomedium);
  background-color: $pinkColor;
  border-radius: 50%;
}

/*filter sort*/



/*fi*/
.fi {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include font($blackColor, $bigTitleFontSize, $latomedium);
  }

  &__dsc {
    @include font($grayColor, $dscFontSize, $latomedium);
    margin-top: 6px;
  }

  &__block-articles {
    @extend %flex-space-between;
    flex-wrap: wrap;
    gap: $gap;
  }

  &__button {
    width: auto;
    margin-top: 48px;
    padding: 15px 39px;
    border: $pinkColor 1px solid;
    @include font($pinkColor, $priceFontSize, $latomedium);
    @include animation(color);
    @include animation(background-color);
  }
}

.fi__button:hover {
  color: $whiteColor;
  background-color: $pinkColor;
}

.fi-item {
  margin-top: 48px;
  width: calc((100% - 2 * #{$gap}) / 3);
  background: $backColorFi;
  text-align: left;

  &__img {
    width: 100%;
  }

  &__dsc-container {
    padding: 20px 16px;
  }

  &__link {
    @include font($blackColor, 13px, $latobold);
  }

  &__dsc {
    margin-top: 12px;
    @include font(#5D5D5D, $dscFontSize, $lato);
  }

  &__price {
    margin-top: 16px;
    @include font($pinkColor, $priceFontSize, $latomedium);
  }
}

/*benefits*/
.benefits {
  margin-top: 95px;
  min-height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__article {
    max-width: 360px;
    min-height: 131px;
    display: flex;
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    @include font($whiteColor, $smallTitleFontSize, $latomedium)
  }

  &__dsc {
    text-align: center;
    @include font($whiteColor, $dscFontSize, $lato)
  }
}

.cart-icon {
  position: relative;
}

.cart-icon:after {
  content: "2";
  top: -8px;
  left: 22px;
  position: absolute;
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font($whiteColor, 12px, $latomedium);
  background-color: $pinkColor;
  border-radius: 50%;
}

/*Subscribe*/
.subscribe {
  height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url("../img/bg_subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-left {
  width: 32%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__avatar {
    height: 96px;
    width: 96px;
  }

  &__quote {
    margin-top: $gap;
    @include font($blackColor, $smallTitleFontSize, $latomedium);
  }

  &__quote-italic {
    font-style: italic;
  }
}

.subscribe-right {
  width: 32%;

  &__title {
    text-align: center;
    @include font($blackColor, $titleFontSize, $latobold)
  }

  &__small-title {
    font-size: 18px;
    font-weight: $latomedium
  }
}

.subscribe-form {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__input {
    padding: 15px 64px 15px 22px;
    border: none;
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    @include font(#222224, $dscFontSize, $latomedium);
  }

  &__button {
    padding: 15px 18px 15px 17px;
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    @include font($whiteColor, $dscFontSize, $latomedium);
    @include animation(background-color);
  }

  .subscribe-form__button:hover {
    background-color: #de4b62;
  }
}

/*footer*/
.footer {
  height: 79px;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-left {
  @include font($whiteColor, $priceFontSize, $latomedium);
}

.footer-right {
  height: 32px;
  display: flex;
  gap: 7px;

  &__link {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $whiteColor;
    @include animation(background-color);
  }

  &__svg {
    fill: black;
    @include animation(fill);
  }

  .footer-right__link:hover {
    background-color: $pinkColor;
  }

  .footer-right__link:hover > .footer-right__svg {
    fill: $whiteColor;
  }
}

@import "media";