@import "basic-element";

.cart-box {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}
.cart-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 57%;
  &__article {
    position: relative;
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  }
  &__img {
    height: 306px;
  }
  &__delete {
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 22px;
    fill: #575757;
    @include animation(fill);
  }
  &__dsc {
    padding: 22px 97px 62px 32px;
  }
  &__title {
    @include font($blackColor, 24px, $latomedium);
  }
}

.cart-item__delete:hover{
  fill: $pinkColor;
}

.cart-dsc {
  margin-top: 42px;
  &__name-property {
    @include font(#575757, 22px, $latomedium);
  }
  &__name-property:not(:first-child) {
    margin-top: 6px;
  }
  &__property-price {
    color: $pinkColor;
  }
  &__property {
    color: #6F6E6E;
  }
  &__property-count{
    box-sizing: border-box;
    margin-left: 24px;
    padding: 2px 16px;
    font-size: 18px;
    border: rgba(234, 234, 234, 1) 1px solid ;
  }
}

.cart-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  &__btn {
    padding: 17px 40px;
    border: rgba(164, 164, 164, 1) 1px solid;
    @include font($blackColor, 14px, $lato);
    @include animation(background);
    @include animation(color);
  }
  &__btn:hover{
    background: rgba(164, 164, 164, 1);
    color: #FFFFFF;
  }
}

.cart-form {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  width: 32%;
  &__box-form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    @include font($blackColor, 16px, $lato);
  }
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  &__input {
    padding: 13px 16px;
    width: 90%;
    @include font(#222, 13px, $lato);
  }
  &__input::placeholder {
    color: #B1B1B1;
  }
  &__btn {
    margin-top: 3px;
    padding: 10px 14px;
    border: rgba(164, 164, 164, 1) 1px solid;
    @include font(#4A4A4A, 11px, $lato);
    @include animation(background);
    @include animation(color);
  }
  &__btn:hover {
    color: white;
    background: rgba(164, 164, 164, 1);
  }
}

.sub-total {
  position: relative;
  margin-top: 37px;
  background: #F5F3F3;
  padding: 122px 44px 42px 44px;
  &__sub {
    position: absolute;
    top: 39px;
    right: 34px;
    @include font(#4A4A4A, 11px, $latomedium);
  }
  &__sub-span {
    padding-left: 13px;
  }
  &__grand {
    position: absolute;
    top: 64px;
    right: 37px;
    @include font(#222, 16px, $lato);
  }
  &__grand-span {
    color: $pinkColor;
    padding-left: 13px;
  }
  &__hr {
    border: 1px #E2E2E2 solid;
  }
  &__btn {
    margin-top: 17px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: $pinkColor;
    @include font(white, 16px, $lato);
    @include animation(background);
  }
  &__btn:hover {
    background: #EF5B70;
  }
}

@import "media";