@charset "UTF-8";
.fi__block-articles, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*обнуление стилей*/
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", serif;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

/*center*/
.center {
  padding-left: calc(50% - 1140px / 2);
  padding-right: calc(50% - 1140px / 2);
}

/*header*/
.bg-black {
  background: #222;
}

.header {
  height: 75px;
}
.header__left {
  display: flex;
  align-items: end;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: end;
  gap: 33px;
}
.header__svg {
  fill: #E8E8E8;
  transition: fill 0.3s ease;
}

.header__svg:hover {
  fill: #E05C6E;
}

.header-nav {
  background-color: #F8F3F4;
  height: 148px;
}
.header-nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-nav__nav {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header-nav__link {
  transition: color 0.3s ease;
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header-nav__link:first-child {
  color: #F16D7F;
  font-weight: 700;
}

.header-nav__link:hover {
  color: #F16D7F;
}

/*burger menu*/
.box-content {
  overflow: hidden;
}

.header {
  position: relative;
}

#burger {
  position: absolute;
  left: 999999px;
  visibility: hidden;
}
#burger:checked ~ .burger-nav {
  right: -232px;
}

.burger-nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  right: 0;
  transition: right 0.3s;
  z-index: 5;
}
.burger-nav__head {
  margin-bottom: 24px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.burger-nav__main-link {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease;
}
.burger-nav__list {
  margin-top: 12px;
}
.burger-nav__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
}

.burger-nav__main-link:hover {
  color: #FF6A6A;
}

.burger-nav__link:hover {
  color: #E05C6E;
}

.burger-nav__list:not(:last-child) {
  margin-bottom: 20px;
}

.burger-nav__item {
  padding-left: 10%;
}

.burger-nav__item:not(:first-child) {
  margin-top: 11px;
}

/*filter sort*/
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter-sort {
  height: 132px;
  position: relative;
  z-index: 4; /* убрать */
}
.filter-sort__container {
  padding-top: 39px;
  position: absolute;
  top: 0;
  display: flex;
  gap: 30px;
}

.filter {
  width: 360px;
  box-sizing: border-box;
  padding: 13px 16px 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] .filter__svg {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.filter__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__svg {
  fill: black;
}

.filter-content__item {
  margin-top: 16px;
}
.filter-content__heading {
  padding: 8px 11px 11px 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-content__link-box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter-content__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-content__link:hover {
  color: #F16D7F;
}
.filter-content__item[open] .filter-content__heading {
  color: #F16D7F;
}

/*sort*/
.sort {
  display: flex;
  gap: 18px;
  padding-top: 13px;
}
.sort__details {
  position: relative;
}
.sort__heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__head {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  position: absolute;
  top: 22px;
  left: -11px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*fi*/
.fi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fi__title {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fi__dsc {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}
.fi__block-articles {
  flex-wrap: wrap;
  gap: 30px;
}
.fi__button {
  width: auto;
  margin-top: 48px;
  padding: 15px 39px;
  border: #F16D7F 1px solid;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.fi__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.fi-item {
  margin-top: 48px;
  width: calc((100% - 2 * 30px) / 3);
  background: #F8F8F8;
  text-align: left;
}
.fi-item__img {
  width: 100%;
}
.fi-item__dsc-container {
  padding: 20px 16px;
}
.fi-item__link {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fi-item__dsc {
  margin-top: 12px;
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.fi-item__price {
  margin-top: 16px;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*benefits*/
.benefits {
  margin-top: 95px;
  height: 341px;
}
.benefits__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.benefits__article {
  height: 39%;
  width: calc((100% - 2 * 30px) / 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.benefits__title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.benefits__dsc {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/*Subscribe*/
.subscribe {
  height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../img/bg_subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-left {
  width: 32%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.subscribe-left__avatar {
  height: 96px;
  width: 96px;
}
.subscribe-left__quote {
  margin-top: 30px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe-left__quote-italic {
  font-style: italic;
}

.subscribe-right {
  width: 32%;
}
.subscribe-right__title {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subscribe-right__small-title {
  font-size: 18px;
  font-weight: 400;
}

.subscribe-form {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.subscribe-form__input {
  padding: 15px 64px 15px 22px;
  border: none;
  border-radius: 25px 0 0 25px;
  background: #E1E1E1;
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe-form__button {
  padding: 15px 18px 15px 17px;
  border-radius: 0 25px 25px 0;
  background: #F16D7F;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color 0.3s ease;
}
.subscribe-form .subscribe-form__button:hover {
  background-color: #de4b62;
}

/*footer*/
.footer {
  height: 79px;
}
.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-right {
  height: 32px;
  display: flex;
  gap: 7px;
}
.footer-right__link {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #FFF;
  transition: background-color 0.3s ease;
}
.footer-right__svg {
  fill: black;
  transition: fill 0.3s ease;
}
.footer-right .footer-right__link:hover {
  background-color: #F16D7F;
}
.footer-right .footer-right__link:hover > .footer-right__svg {
  fill: #FFF;
}

.header-nav__link:first-child {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header-nav__link:first-child:hover {
  color: #F16D7F;
}

.header-nav__link:last-child {
  color: #F16D7F;
  font-weight: 700;
}

/*catalog slide*/
.catalog {
  height: 777px;
  position: relative;
  background-color: #F7F7F7;
}
.catalog__slide {
  height: 100%;
  display: flex;
  justify-content: center;
}
.catalog__image {
  height: 100%;
}

.catalog-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-buttons__button {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c5c5;
}
.catalog-buttons__svg {
  fill: black;
  transition: fill 0.3s ease;
}

.catalog-buttons__button:hover > .catalog-buttons__svg {
  fill: #F16D7F;
}

.catalog-right-btn {
  transform: rotate(180deg);
}

/*catalog card*/
.position-relative {
  position: relative;
}

.catalog-card {
  min-height: 500px;
}
.catalog-card__container {
  position: absolute;
  top: -50px;
  left: calc(50% - 1140px / 2);
  right: calc(50% - 1140px / 2);
  text-align: center;
  background-color: white;
  border: #EAEAEA 1px solid;
}
.catalog-card__svg {
  margin-top: 65px;
}

.catalog-card__dsc__main-title {
  margin-top: 64px;
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.catalog-card__dsc__svg {
  margin-top: 12px;
}
.catalog-card__dsc__title-model {
  margin-top: 12px;
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.catalog-card__dsc__dsc {
  max-width: 50%;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  color: #5E5E5E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.catalog-card__dsc__price {
  margin-top: 32px;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.catalog-card__form__label {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog-card__form__select {
  width: 1.2%;
  border: none;
  appearance: none;
  overflow: hidden;
  background: url("../img/catalog/Vector.svg") no-repeat right;
}

.catalog-card__form__label:not(:first-child) {
  padding-left: 30px;
}

.catalog-card__form__button {
  position: relative;
  margin-top: 48px;
  margin-bottom: 61px;
  padding: 15px 57px 15px 73px;
  border: #F16D7F 1px solid;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}
.catalog-card__form__button__svg {
  position: absolute;
  top: 15px;
  left: 24px;
  fill: #F16D7F;
  transition: fill 0.3s ease;
}

.catalog-card__form__button:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.catalog-card__form__button:hover > .catalog-card__form__button__svg {
  fill: #FFF;
}

/*fi*/
.fi {
  margin-top: 128px;
  margin-bottom: 128px;
}

.fi-item {
  margin-top: 0;
}

/*# sourceMappingURL=catalog.css.map */
