@import "basic-element";
.header-nav__link:first-child {
  @include font($grayColor, 14px, 300);
}

.header-nav__link:first-child:hover {
  color: $pinkColor;
}

.header-nav__link:last-child {
  color: $pinkColor;
  font-weight: 700;
}
.fi {
  margin-top: 0;
  margin-bottom: 188px;
}
.fi-item {
  margin-top: 0;
}