@charset "UTF-8";
@font-face {
  font-family: "lato";
  src: local("lato"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latomedium";
  src: local("lato"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold";
  src: local("lato"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*font size*/
html {
  font-size: 16px;
}

/*font var*/
.fi__block-articles, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*обнуление стилей*/
* {
  margin: 0;
  padding: 0;
  font-family: "lato";
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

/*center*/
.center {
  padding-left: calc(50% - 1140px / 2);
  padding-right: calc(50% - 1140px / 2);
}

/*header*/
.bg-black {
  background: #222;
}

.header {
  min-height: 8vh;
}
.header__left {
  display: flex;
  align-items: end;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: end;
  gap: 33px;
}
.header__svg {
  fill: #E8E8E8;
  transition: fill 0.3s ease;
}

.header__svg:hover {
  fill: #E05C6E;
}

.header-nav {
  background-color: #F8F3F4;
  height: 148px;
}
.header-nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__title {
  font-family: "latomedium";
  color: #F16D7F;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}
.header-nav__nav {
  font-family: "lato";
  color: #5D5D5D;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}
.header-nav__link {
  transition: color 0.3s ease;
  font-family: "lato";
  color: #5D5D5D;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}

.header-nav__link:first-child {
  color: #F16D7F;
  font-weight: "latobold";
}

.header-nav__link:hover {
  color: #F16D7F;
}

/*burger menu*/
.box-content {
  overflow: hidden;
}

.header {
  position: relative;
}

#burger {
  position: absolute;
  left: 999999px;
  visibility: hidden;
}
#burger:checked ~ .burger-nav {
  right: -232px;
}

.burger-nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 8vh;
  right: 0;
  transition: right 0.3s;
  z-index: 5;
}
.burger-nav__head {
  margin-bottom: 1.5rem;
  font-family: "latobold";
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}
.burger-nav__main-link {
  font-family: "latomedium";
  color: #F16D7F;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  transition: color 0.3s ease;
}
.burger-nav__list {
  margin-top: 12px;
}
.burger-nav__link {
  font-family: "latomedium";
  color: #6F6E6E;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  transition: color 0.3s ease;
}

.burger-nav__main-link:hover {
  color: #FF6A6A;
}

.burger-nav__link:hover {
  color: #E05C6E;
}

.burger-nav__list:not(:last-child) {
  margin-bottom: 20px;
}

.burger-nav__item {
  padding-left: 10%;
}

.burger-nav__item:not(:first-child) {
  margin-top: 11px;
}

.cart-icon {
  position: relative;
}

.cart-icon:after {
  content: "2";
  top: -8px;
  left: 22px;
  position: absolute;
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "latomedium";
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  background-color: #F16D7F;
  border-radius: 50%;
}

/*filter sort*/
/*fi*/
.fi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fi__title {
  font-family: "latomedium";
  color: #000;
  font-size: 1.875rem;
  font-style: normal;
  line-height: normal;
}
.fi__dsc {
  font-family: "latomedium";
  color: #5D5D5D;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  margin-top: 6px;
}
.fi__block-articles {
  flex-wrap: wrap;
  gap: 30px;
}
.fi__button {
  width: auto;
  margin-top: 48px;
  padding: 15px 39px;
  border: #F16D7F 1px solid;
  font-family: "latomedium";
  color: #F16D7F;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.fi__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.fi-item {
  margin-top: 48px;
  width: calc((100% - 2 * 30px) / 3);
  background: #F8F8F8;
  text-align: left;
}
.fi-item__img {
  width: 100%;
}
.fi-item__dsc-container {
  padding: 20px 16px;
}
.fi-item__link {
  font-family: "latobold";
  color: #000;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.fi-item__dsc {
  margin-top: 12px;
  font-family: "lato";
  color: #5D5D5D;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}
.fi-item__price {
  margin-top: 16px;
  font-family: "latomedium";
  color: #F16D7F;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

/*benefits*/
.benefits {
  margin-top: 95px;
  min-height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.benefits__article {
  max-width: 360px;
  min-height: 131px;
  display: flex;
  flex-basis: 360px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.benefits__title {
  font-family: "latomedium";
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
}
.benefits__dsc {
  text-align: center;
  font-family: "lato";
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}

.cart-icon {
  position: relative;
}

.cart-icon:after {
  content: "2";
  top: -8px;
  left: 22px;
  position: absolute;
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "latomedium";
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  background-color: #F16D7F;
  border-radius: 50%;
}

/*Subscribe*/
.subscribe {
  height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../img/bg_subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-left {
  width: 32%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.subscribe-left__avatar {
  height: 96px;
  width: 96px;
}
.subscribe-left__quote {
  margin-top: 30px;
  font-family: "latomedium";
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
}
.subscribe-left__quote-italic {
  font-style: italic;
}

.subscribe-right {
  width: 32%;
}
.subscribe-right__title {
  text-align: center;
  font-family: "latobold";
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}
.subscribe-right__small-title {
  font-size: 18px;
  font-weight: "latomedium";
}

.subscribe-form {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.subscribe-form__input {
  padding: 15px 64px 15px 22px;
  border: none;
  border-radius: 25px 0 0 25px;
  background: #E1E1E1;
  font-family: "latomedium";
  color: #222224;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}
.subscribe-form__button {
  padding: 15px 18px 15px 17px;
  border-radius: 0 25px 25px 0;
  background: #F16D7F;
  font-family: "latomedium";
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  transition: background-color 0.3s ease;
}
.subscribe-form .subscribe-form__button:hover {
  background-color: #de4b62;
}

/*footer*/
.footer {
  height: 79px;
}
.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  font-family: "latomedium";
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.footer-right {
  height: 32px;
  display: flex;
  gap: 7px;
}
.footer-right__link {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #FFF;
  transition: background-color 0.3s ease;
}
.footer-right__svg {
  fill: black;
  transition: fill 0.3s ease;
}
.footer-right .footer-right__link:hover {
  background-color: #F16D7F;
}
.footer-right .footer-right__link:hover > .footer-right__svg {
  fill: #FFF;
}

@media (max-width: 800px) {
  /* index page */
  .header {
    min-height: 15vh;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger-nav {
    top: 15vh;
  }
  .header-nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 85vh;
  }
  .top__img {
    right: 45%;
  }
  .top-block {
    min-height: 85vh;
  }
  .top-title {
    margin-right: 33px;
  }
  .top-title__big {
    font-size: 44px;
  }
  .top-title__small {
    font-size: 24px;
  }
  .top-title__pink {
    font-size: 24px;
  }
  .categories {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 109px;
    gap: 20px;
  }
  .categories__dsc {
    font-size: 16px;
  }
  .categories__title {
    font-size: 24px;
  }
  .categories__item:not(:last-child) {
    height: 168px;
    width: calc((100% - 40px) / 3);
  }
  .categories__item:last-child {
    height: 116px;
    width: 100%;
  }
  .fi {
    margin-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .fi__title {
    font-size: 30px;
  }
  .fi__dsc {
    margin-top: 3px;
    margin-bottom: 72px;
    font-size: 14px;
  }
  .fi__block-articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
  .fi__button {
    margin-top: 32px;
    font-size: 16px;
  }
  .fi-item {
    width: 100%;
    margin-top: 0;
  }
  .fi-item__dsc-container {
    padding-right: 28px;
  }
  .fi-item__link {
    font-size: 13px;
  }
  .fi-item__dsc {
    font-size: 14px;
  }
  .fi-item__price {
    font-size: 16px;
  }
  .benefits {
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .benefits__container {
    margin-top: 48px;
    margin-bottom: 64px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }
  .benefits__title {
    font-size: 20px;
  }
  .benefits__dsc {
    font-size: 14px;
  }
  .subscribe {
    max-height: 693px;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe-left {
    min-width: 359px;
  }
  .subscribe-left__quote {
    font-size: 20px;
  }
  .subscribe-right {
    min-width: 359px;
  }
  .subscribe-right__title {
    font-size: 24px;
  }
  .subscribe-form__input {
    font-size: 14px;
  }
  .subscribe-form__button {
    font-size: 14px;
  }
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 522px) {
  .header {
    min-height: 17vh;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__button:not(:first-child) {
    display: none;
  }
  .burger-nav {
    top: 17vh;
  }
  .header-nav__container {
    justify-content: center;
  }
  .top {
    min-height: 83vh;
    justify-content: center;
  }
  .top__img {
    display: none;
  }
  .top-block {
    min-height: 83vh;
  }
  .top-title {
    margin: 0;
    box-sizing: border-box;
  }
  .top-title__big {
    font-size: 38px;
  }
  .top-title__small {
    font-size: 20px;
  }
  .top-title__pink {
    font-size: 20px;
  }
  .categories {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
    gap: 32px;
  }
  .categories__item:not(:last-child) {
    min-height: 248px;
    flex-basis: 230px;
  }
  .categories__item:last-child {
    min-height: 111px;
  }
  .fi {
    margin-bottom: 96px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .fi__title {
    font-size: 30px;
  }
  .fi__dsc {
    margin-top: 3px;
    margin-bottom: 64px;
    font-size: 14px;
  }
  .fi__block-articles {
    gap: 16px;
  }
  .fi__button {
    margin-top: 40px;
    font-size: 16px;
  }
  .fi-item {
    flex-basis: 250px;
  }
  .benefits__container {
    margin-bottom: 81px;
    gap: 47px;
  }
  .subscribe {
    max-height: 550px;
    padding-top: 54px;
    padding-bottom: 110px;
  }
  .subscribe-left {
    width: 100%;
  }
  .subscribe-left__quote {
    font-size: 20px;
  }
  .subscribe-right {
    width: 100%;
  }
  .subscribe-form__input {
    width: 70%;
  }
  .subscribe-form__button {
    width: 30%;
  }
  .footer {
    padding: 43px 16px 9px 16px;
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .footer-left {
    font-size: 16px;
  }
  .footer-right__link {
    height: 32px;
  }
}
@media (max-width: 977px) {
  .cart-box {
    flex-direction: column;
    margin-top: 59px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .cart-item {
    width: 100%;
  }
  .cart-item__delete {
    right: 24px;
  }
  .cart-btn {
    margin-top: 22px;
    justify-content: center;
    gap: 48px;
  }
  .cart-form {
    margin-top: 64px;
    flex-direction: initial;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
  }
  .cart-form__box-form {
    flex-basis: 260px;
    flex-grow: 1;
  }
  .cart-form__input {
    width: -webkit-fill-available;
  }
  .sub-total {
    flex-grow: 1;
  }
}
@media (max-width: 614px) {
  .cart-box {
    margin-top: 39px;
    margin-bottom: 48px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .cart-item {
    gap: 32px;
  }
  .cart-item__article {
    min-height: 188px;
  }
  .cart-item__img {
    max-height: 188px;
  }
  .cart-item__dsc {
    padding: 13px 20px 13px 17px;
  }
  .cart-item__title {
    font-size: 14px;
  }
  .cart-item__delete {
    top: 17px;
    right: 12px;
    width: 10px;
    height: 11px;
  }
  .cart-dsc {
    margin-top: 25px;
  }
  .cart-dsc__name-property {
    font-size: 14px;
  }
  .cart-dsc__name-property:not(:first-child) {
    margin-top: 4px;
  }
  .cart-dsc__property-count {
    margin-left: 15px;
    padding: 1px 9px;
    font-size: 10px;
  }
  .cart-btn {
    margin-top: 30px;
    gap: 9px;
  }
  .cart-btn__btn {
    padding: 9px 18px;
    font-size: 12px;
  }
  .cart-form {
    margin-top: 48px;
    flex-direction: initial;
    gap: 48px;
  }
  .cart-form__input {
    width: -webkit-fill-available;
  }
  .sub-total {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .header-nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  .filter-sort {
    max-height: 81px;
  }
  .filter-sort__container {
    width: 100%;
    padding-top: 24px;
    justify-content: space-between;
  }
  .filter {
    min-width: 180px;
  }
  .sort {
    padding-right: 16px;
    min-width: 280px;
  }
}
@media (max-width: 500px) {
  .header-nav__container {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  .filter {
    min-width: auto;
  }
  .filter__heading {
    display: none;
  }
  .filter__svg {
    width: 37px;
    height: 25px;
  }
  .sort {
    justify-content: space-between;
    min-width: auto;
  }
  .sort__head {
    white-space: nowrap;
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .catalog {
    max-height: 100vh;
  }
  .catalog-card__container {
    position: initial;
    padding-left: 63px;
    padding-right: 63px;
  }
  .catalog-card__dsc__dsc {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-left: 107px;
    padding-right: 107px;
  }
  .fi-item:last-child {
    display: none;
  }
}
@media (max-width: 660px) {
  .catalog-card__dsc__dsc {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 500px) {
  .catalog-card__dsc__dsc {
    padding-left: 0;
    padding-right: 0;
  }
  .catalog-card__dsc__title-model {
    white-space: nowrap;
  }
  .cat-card-form {
    gap: 24px;
    margin-top: 32px;
    padding-top: 50px;
  }
  .cat-card-form__summary {
    font-size: 10px;
  }
  .catalog-card__form__button {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .fi {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
/* var font size desktop*/
/* var color */
/*registration*/
.reg-box {
  height: 53vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 9vh;
  margin-bottom: 14vh;
}
.reg-box__left {
  width: 32%;
}
.reg-box__right {
  width: 57%;
}

.reg {
  display: flex;
  flex-direction: column;
}
.reg__box-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reg__title {
  font-family: "lato";
  color: #222;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.reg__input {
  padding: 13px 16px;
  font-family: "lato";
  color: #000;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.reg__input::placeholder {
  font-family: "lato";
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.reg__box-radio {
  margin-top: 31px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}
.reg__radio {
  margin-right: 10px;
}
.reg__label-radio {
  font-family: "lato";
  color: #000;
  font-size: 11px;
  font-style: normal;
  line-height: normal;
}
.reg__label-radio:not(:last-child) {
  margin-right: 20px;
}
.reg__valid-dsc {
  margin-top: 15px;
  font-family: "lato";
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.reg__box-btn {
  margin-top: 39px;
}
.reg__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 29px;
  background: rgb(241, 109, 127);
  font-family: "lato";
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  transition: background 0.3s ease;
}
.reg__btn:hover {
  background: #EF5B70;
}

.perks {
  font-family: "lato";
  color: #000;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.perks__dsc {
  margin-top: 22px;
  margin-bottom: 21px;
}
.perks__li:not(:first-child) {
  margin-top: 15px;
}
.perks__li:before {
  content: "✓";
  padding-right: 22px;
}

@media (max-width: 800px) {
  /* index page */
  .header {
    min-height: 15vh;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger-nav {
    top: 15vh;
  }
  .header-nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 85vh;
  }
  .top__img {
    right: 45%;
  }
  .top-block {
    min-height: 85vh;
  }
  .top-title {
    margin-right: 33px;
  }
  .top-title__big {
    font-size: 44px;
  }
  .top-title__small {
    font-size: 24px;
  }
  .top-title__pink {
    font-size: 24px;
  }
  .categories {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 109px;
    gap: 20px;
  }
  .categories__dsc {
    font-size: 16px;
  }
  .categories__title {
    font-size: 24px;
  }
  .categories__item:not(:last-child) {
    height: 168px;
    width: calc((100% - 40px) / 3);
  }
  .categories__item:last-child {
    height: 116px;
    width: 100%;
  }
  .fi {
    margin-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .fi__title {
    font-size: 30px;
  }
  .fi__dsc {
    margin-top: 3px;
    margin-bottom: 72px;
    font-size: 14px;
  }
  .fi__block-articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
  .fi__button {
    margin-top: 32px;
    font-size: 16px;
  }
  .fi-item {
    width: 100%;
    margin-top: 0;
  }
  .fi-item__dsc-container {
    padding-right: 28px;
  }
  .fi-item__link {
    font-size: 13px;
  }
  .fi-item__dsc {
    font-size: 14px;
  }
  .fi-item__price {
    font-size: 16px;
  }
  .benefits {
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .benefits__container {
    margin-top: 48px;
    margin-bottom: 64px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }
  .benefits__title {
    font-size: 20px;
  }
  .benefits__dsc {
    font-size: 14px;
  }
  .subscribe {
    max-height: 693px;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe-left {
    min-width: 359px;
  }
  .subscribe-left__quote {
    font-size: 20px;
  }
  .subscribe-right {
    min-width: 359px;
  }
  .subscribe-right__title {
    font-size: 24px;
  }
  .subscribe-form__input {
    font-size: 14px;
  }
  .subscribe-form__button {
    font-size: 14px;
  }
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 522px) {
  .header {
    min-height: 17vh;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__button:not(:first-child) {
    display: none;
  }
  .burger-nav {
    top: 17vh;
  }
  .header-nav__container {
    justify-content: center;
  }
  .top {
    min-height: 83vh;
    justify-content: center;
  }
  .top__img {
    display: none;
  }
  .top-block {
    min-height: 83vh;
  }
  .top-title {
    margin: 0;
    box-sizing: border-box;
  }
  .top-title__big {
    font-size: 38px;
  }
  .top-title__small {
    font-size: 20px;
  }
  .top-title__pink {
    font-size: 20px;
  }
  .categories {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
    gap: 32px;
  }
  .categories__item:not(:last-child) {
    min-height: 248px;
    flex-basis: 230px;
  }
  .categories__item:last-child {
    min-height: 111px;
  }
  .fi {
    margin-bottom: 96px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .fi__title {
    font-size: 30px;
  }
  .fi__dsc {
    margin-top: 3px;
    margin-bottom: 64px;
    font-size: 14px;
  }
  .fi__block-articles {
    gap: 16px;
  }
  .fi__button {
    margin-top: 40px;
    font-size: 16px;
  }
  .fi-item {
    flex-basis: 250px;
  }
  .benefits__container {
    margin-bottom: 81px;
    gap: 47px;
  }
  .subscribe {
    max-height: 550px;
    padding-top: 54px;
    padding-bottom: 110px;
  }
  .subscribe-left {
    width: 100%;
  }
  .subscribe-left__quote {
    font-size: 20px;
  }
  .subscribe-right {
    width: 100%;
  }
  .subscribe-form__input {
    width: 70%;
  }
  .subscribe-form__button {
    width: 30%;
  }
  .footer {
    padding: 43px 16px 9px 16px;
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .footer-left {
    font-size: 16px;
  }
  .footer-right__link {
    height: 32px;
  }
}
@media (max-width: 977px) {
  .cart-box {
    flex-direction: column;
    margin-top: 59px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .cart-item {
    width: 100%;
  }
  .cart-item__delete {
    right: 24px;
  }
  .cart-btn {
    margin-top: 22px;
    justify-content: center;
    gap: 48px;
  }
  .cart-form {
    margin-top: 64px;
    flex-direction: initial;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
  }
  .cart-form__box-form {
    flex-basis: 260px;
    flex-grow: 1;
  }
  .cart-form__input {
    width: -webkit-fill-available;
  }
  .sub-total {
    flex-grow: 1;
  }
}
@media (max-width: 614px) {
  .cart-box {
    margin-top: 39px;
    margin-bottom: 48px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .cart-item {
    gap: 32px;
  }
  .cart-item__article {
    min-height: 188px;
  }
  .cart-item__img {
    max-height: 188px;
  }
  .cart-item__dsc {
    padding: 13px 20px 13px 17px;
  }
  .cart-item__title {
    font-size: 14px;
  }
  .cart-item__delete {
    top: 17px;
    right: 12px;
    width: 10px;
    height: 11px;
  }
  .cart-dsc {
    margin-top: 25px;
  }
  .cart-dsc__name-property {
    font-size: 14px;
  }
  .cart-dsc__name-property:not(:first-child) {
    margin-top: 4px;
  }
  .cart-dsc__property-count {
    margin-left: 15px;
    padding: 1px 9px;
    font-size: 10px;
  }
  .cart-btn {
    margin-top: 30px;
    gap: 9px;
  }
  .cart-btn__btn {
    padding: 9px 18px;
    font-size: 12px;
  }
  .cart-form {
    margin-top: 48px;
    flex-direction: initial;
    gap: 48px;
  }
  .cart-form__input {
    width: -webkit-fill-available;
  }
  .sub-total {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .header-nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  .filter-sort {
    max-height: 81px;
  }
  .filter-sort__container {
    width: 100%;
    padding-top: 24px;
    justify-content: space-between;
  }
  .filter {
    min-width: 180px;
  }
  .sort {
    padding-right: 16px;
    min-width: 280px;
  }
}
@media (max-width: 500px) {
  .header-nav__container {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  .filter {
    min-width: auto;
  }
  .filter__heading {
    display: none;
  }
  .filter__svg {
    width: 37px;
    height: 25px;
  }
  .sort {
    justify-content: space-between;
    min-width: auto;
  }
  .sort__head {
    white-space: nowrap;
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .catalog {
    max-height: 100vh;
  }
  .catalog-card__container {
    position: initial;
    padding-left: 63px;
    padding-right: 63px;
  }
  .catalog-card__dsc__dsc {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-left: 107px;
    padding-right: 107px;
  }
  .fi-item:last-child {
    display: none;
  }
}
@media (max-width: 660px) {
  .catalog-card__dsc__dsc {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 500px) {
  .catalog-card__dsc__dsc {
    padding-left: 0;
    padding-right: 0;
  }
  .catalog-card__dsc__title-model {
    white-space: nowrap;
  }
  .cat-card-form {
    gap: 24px;
    margin-top: 32px;
    padding-top: 50px;
  }
  .cat-card-form__summary {
    font-size: 10px;
  }
  .catalog-card__form__button {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .fi {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (max-width: 900px) {
  .reg-box {
    height: auto;
    min-height: 53vh;
    margin-bottom: 96px;
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: nowrap;
    gap: 22px;
  }
  .reg-box__left {
    width: 50%;
    flex-grow: 1;
  }
  .reg-box__right {
    width: 50%;
    flex-grow: 1;
  }
  .perks {
    font-size: 16px;
  }
}
@media (max-width: 593px) {
  .reg-box {
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
  }
  .reg-box__left {
    width: auto;
  }
  .reg-box__right {
    width: auto;
  }
}

/*# sourceMappingURL=registration.css.map */
